
.content-image{
  display: flex;
  justify-content: flex-end;

}
.hero-container{
  background-repeat: no-repeat;
  background-size:contain;
  background-image:url('/assets/images/jumbo-image.png');
  height: 100vh;

}
.heropage-text{
  margin-top: 10px;
}

.hero-img{
  width:20%;
}
.hero-img img{
  max-width: 100%;
}
.heropage-images{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.hero-img p{
  margin-top: 5px;
}

/* (A) OUTER CONTAINER */
.hwrap {
  /* (A1) DIMENSIONS */
  width: 100%;



  /* (A2) COSMETICS */

  border: 2px solid #5270FC;
  overflow: hidden; /* HIDE SCROLLBARS */
}

/* (B) MIDDLE CONTAINER - FLEX LAYOUT */
.hmove {
  display: flex;
  position: relative;
  top: 0; right: 0;
}

/* (C) SLIDES - FORCE INTO ONE LONG HORIZONTAL ROW */
.hslide {
  width: 100%;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 10px;
}

/* (D) SLIDE ANIMATION */
@keyframes slideh {
  /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
  0% { right: 0; }
  33% { right: 100%; }
  66% { right: 200%; }
  100% { right: 0; }

  /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
  /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
  0% { right: 0; }
  30% { right: 0; }
  33% { right: 100%; }
  63% { right: 100%; }
  66% { right: 200%; }
  97% { right: 200%; }
  100% { right: 0; }
}
.hmove { animation: slideh linear 15s infinite; }
.hmove:hover { animation-play-state: paused; }

.reviews{
  margin-bottom: 40px;

}
.reviews-content{
  padding: 20px 0;
}
i{
  color:rgb(248, 173, 75);

}

.review-text{
  margin-left: 30px;
}
.support{
  font-size: 28px;
}
