<div class="container">
  <app-heronavbar></app-heronavbar>
  <div class="hero-container">


    <div class="heropage-text">
      <h1>Software Development Students <br /><span
      align="center">Motivation</span
      ></h1>
    </div>
  </div>
  <div class="support">
    <h3>We have everything you need to support your journey</h3>
  </div>

  <div class="heropage-images">
    <div class="hero-img">
      <img src="assets/images/videos.png" alt="" />
      <p>videos</p>
    </div>
    <div class="hero-img">
      <img src="assets/images/audios.png" alt="" />
      <p>Audio Files</p>
    </div>
    <div class="hero-img">
      <img src="assets/images/blogs.png" alt="" />
      <p>Blogs</p>
    </div>
  </div>

  <div class="reviews">
    <h3>What our Users say about us...</h3>
    <div class="reviews-content">
      <div>
        <div class="hwrap">
          <div class="hmove">
            <div class="hslide">
              <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-1">
                  <img src="assets/images/profile-pic.png" alt="" />
                </div>

                <div class="col-md-9 review-text">
                  <h3>Jabari Iyapo</h3>
                  <p>Fullstack developer-Google</p>
                  <div><i class="fa-solid fa-quote-left"></i></div>
                  <p>
                    This is definitely one of the best coding motivational apps
                    available. It is always uplifting. It has a wide variety of
                    topics to choose from. I really enjoy I can control the
                    categories of my information I recieve
                  </p>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
            <div class="hslide">
              <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-1">
                  <img src="assets/images/profile-pic.png" alt="" />
                </div>

                <div class="col-md-9 review-text">
                  <h3>Abdalla</h3>
                  <p>Fullstack developer-Google</p>
                  <div><i class="fa-solid fa-quote-left"></i></div>
                  <p>
                    Very great app I was struggling to get any motivation when I
                    needed to code, or when I felt it was too much to! And the
                    fact that the app can give you motivation, offer helpful
                    resources and inputs from varous users almost all day is
                    really good.
                  </p>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
            <div class="hslide">
              <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-1">
                  <img src="assets/images/profile-pic.png" alt="" />
                </div>

                <div class="col-md-9 review-text">
                  <h3>Zawadi Adana</h3>
                  <p>Junior developer-Microsoft</p>
                  <div><i class="fa-solid fa-quote-left"></i></div>
                  <p>
                    No lie, the best, most customizable, easiest "set it and
                    forget it" user interface with a reliable, attractive widget
                    that always manages to catch my attention a couple times a
                    day. Full of a lot of quotes and resources that have been
                    worth sharing on several occasions.
                  </p>
                </div>
                <div class="col-md-1"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
