.sidebar{
  padding-left: 7em;
  background-color: #5270FC;
  color: white;
  height: 103vh;
}
.left-display{
  height: 100vh;
}
.display-text{
  color: white;
  font-size:20px;
  padding-top: 25px;
}
.display-text span{
  color: black;
  font-weight: bold;
}
.text{
  width: 200px;
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}
.text button{
width:max-content;
padding: 3px 20px;
border: none;
background-color: #0B06ED;
color: white;
border-radius: 10px;

}
