
<div class="container sidebar">

  <div class="left-display">
    <div class="display-text">
      <div><span>S</span>oftware</div>
      <div><span>D</span>evelopment</div>
      <div><span>S</span>tudents</div>
      <div><span>M</span>otivation</div>
    </div>
    <div class="text">
      <p>
        This web application is a Motivational App for Developers and
        Coders. The app features handpicked motivational videos, blogs and
        podcasts from mentors around the world.
      </p>
      <button>explore</button>
    </div>
  </div>

</div>
