<!-- Footer -->

<footer
  class="page-footer font-small p-4 fixed-bottom"
  style="color: white; background-color: #5270fc"
>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">
        <br />

        <!-- Content -->
        <h5 class="text-uppercase">Subscribe to our Newsletter</h5>
        <form class="input-group">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Your email"
            aria-label="Your email"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn  btn-dark my-0" type="button">
              Subscribe
            </button>
          </div>
        </form>
        <br />
      </div>

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0">
        <!-- Links -->
        <h5 class="text-uppercase">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!" style="color: white">Home</a>
          </li>
          <li>
            <a href="#!" style="color: white">About us</a>
          </li>
          <li>
            <a href="#!" style="color: white">Admin</a>
          </li>
          <li>
            <a href="#!" style="color: white">Staff</a>
          </li>
          <li>
            <a href="#!" style="color: white">Student </a>
          </li>
          <li>
            <a href="#!" style="color: white">Signup</a>
          </li>
          <li>
            <a href="#!" style="color: white">Logout</a>
          </li>
        </ul>
        <br />
        <h5>Reach us on Social Media</h5>
        <a class="">
          <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x mx-3">
          </i>
        </a>
        <!-- Twitter -->
        <a class="">
          <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x mx-3">
          </i>
        </a>
        <!-- Google +-->
        <a class="">
          <i
            class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x mx-3"
          >
          </i>
        </a>
        <!--Linkedin -->
        <a class="">
          <i
            class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x mx-3"
          >
          </i>
        </a>
        <!--Instagram-->
        <a class="">
          <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x mx-3">
          </i>
        </a>
        <!--Pinterest-->
        <a class="">
          <i class="fab fa-pinterest fa-lg white-text fa-2x mx-3"> </i>
        </a>
        <br />
        <div class="footer-copyright text-center py-3 p-4">
          SDSM © 2022 All rights reserved
          <a href="/" style="color: white"> @sdsm.com</a>
        </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb">
        <!-- Links -->
        <h5 class="text-uppercase">Contact Us</h5>
        <p style="color: white">Hillside House 4th Floor</p>
        <p style="color: white">Westlands,Nairobi</p>
        <p style="color: white">P.O.Box 234-00100</p>
        <p style="color: white">Nairobi,Kenya</p>
        <br />
        <ul class="list-unstyled">
          Email:

          <li>
            <a href="#!" style="color: white"
              >developers@student.motivate.com</a
            >
          </li>
        </ul>
      </div>

      <!-- Grid column -->
    </div>

    <!-- Grid row -->
  </div>

  <!-- Footer Links -->
</footer>
<!-- Footer -->
