
/* .display{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  color: white;
}
 */
/*  */
.homepage{
  display: flex;
  flex-direction: row;

}
/*
.content-text{
  margin-left: 32px;
  font-size: 28px;
  margin-top: 66px;

}
.hero-img{
  width: 100px;
}
.hero-img img{
  max-width: 100%;
} */
