<!-- <div class="container">
  <div class="row ">
    <div class="col-md-4"> -->
<div class="container my-4">
  <div class="create-post">
    <img src="assets/images/profile.svg" alt="avatar" class="rounded-circle img-fluid" width="60">
    <!-- <img src="{{user.avatar}}" alt="avatar" onerror="this.src='assets/images/profile.svg';"> -->
    <a routerLink='/add/post' class="btn btn-lg m-3" style="background-color:#3BB7E5">create post</a>
  </div>
  <br>
  <div class="card card-body">
    <!-- <img src="assets/images/logo2.jpeg" class="card-img-top card-image" alt="post image"> -->
    <div class="card-body">
      <h5 class="card-header">Lorem Ipsum</h5>
      <p class="text-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero ullam velit veniam
        esse voluptate hic suscipit odit amet, similique cupiditate dicta? Libero, quibusdam error.Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus vero ullam velit veniam
        esse voluptate hic suscipit odit amet, similique cupiditate dicta? Libero, quibusdam error.</p>
    </div>
    <!-- <div class="small d-flex justify-content-center mx-4">
      <button class="d-flex align-items-center me-3">
        <i class="far fa-thumbs-up me-2"></i>
        <p class="mb-0">Like</p>
      </button>
      <button lass="d-flex align-items-center me-3">
        <i class="far fa-comment-dots me-2"></i>
        <p class="mb-0">Comment</p>
      </button>
      <button class="d-flex align-items-center me-3">
        <i class="fas fa-share me-2"></i>
        <p class="mb-0">Share</p>
      </button>
    </div> -->
  </div>
</div>
<!-- </div>
            </div>
          </div> -->
<!-- <app-std-post-form></app-std-post-form> -->