<div class="container mt-4 ">
  <div class="row">
    <div class="col-md-4">
      <div
        class="card staff-profile mb-4"
        style="background-color: #5270fc"
      >
        <div class="card-body text-center" style="color: white">
          <img
            src="https://media.istockphoto.com/vectors/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-vector-id1130884625?k=20&m=1130884625&s=612x612&w=0&h=OITK5Otm_lRj7Cx8mBhm7NtLTEHvp6v3XnZFLZmuB9o="
            alt="avatar"
            class="rounded-circle img-fluid"
            style="width: 150px"
          />
          <hr />
          <p class="">John Smith</p>
          <hr />
          <p class="mb-4">Email</p>
          <hr />
          <p class="mb-4">Bio</p>
          <hr />
          <p class="mb-4">Contact</p>
          <hr />

          <div class="d-flex justify-content-center mb-2"></div>
          <br>
          <br>
          <div class="d-flex justify-content-center mb-2">
                <a routerLink="/edit-staffprofile"   href="#" class="btn btn-light btn-lg"> Edit profile</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
