<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
      <div class="card" style="margin-left: 100px">
        <div>
          <form class="border border-primary edit-staffprofile p-5 text-center">
            <p class="h4 mb-4 ">Update profile</p>
            <!-- Name -->
            <input
              type="text"
              id="defaultSubscriptionFormPassword"
              class="form-control mb-4"
              placeholder="Firstname"
            />
            <input
              type="text"
              id="defaultSubscriptionFormPassword"
              class="form-control mb-4"
              placeholder="Lastname"
            />

            <input
              type="email"
              id="defaultSubscriptionFormPassword"
              class="form-control mb-4"
              placeholder="Email"
            />
<br>
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
              placeholder="Bio"
            ></textarea>
            <br>
            

            <label class="custom-file-label" for="customFile"
              > Profile pic</label
            >
            <input type="file" class="form-control" id="customFile" />
            <br />
            <!-- Sign in button -->
            <button class="btn btn-primary text-center"  type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

