<h1 >hello</h1>
<h2 class="bg-info" >heeyyy</h2>
<div class="container-fluid">
<mat-grid-list cols="6" rowHeight="100px" [gutterSize]="'10px'">

  <mat-grid-tile rowspan="6" style=" background-image: linear-gradient(to top, #5270FC 85%, white );">
    <div class="profile-avatar" >M</div>


    <div>
      <div class="user-details" >Username</div>
      <div class="user-details">Bio</div>
      <div class="user-details">Contact</div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="1">
    <div id="username" class="admin-sector">
      <div>New Post</div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="1" >
    <div id="uploads" class="admin-sector" style="width:140px; height:100px; margin-left: -35px;">
      <div>
      File Uploads
    </div>

  </div>
  </mat-grid-tile>



  <mat-grid-tile rowspan="3" colspan="3" style="background-color: #D9D9D9" >4
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="1" >
    <div id="comments" class="admin-sector" style="width:140px; height:100px; margin-left: 23px;">
      <div>
        Comments
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="1" colspan="1" >
    <div id="likes" class="admin-sector"style="width:140px; height:100px;  margin-left: -35px;">
      <div>
        Likes
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="2" >
    <div  id="users" >
      <div class="user-">
        <div><i class="fa-solid fa-user-group"></i></div>
        <div >staff and users</div>
        </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="1" colspan="2" >
    <div id="members" >Members
      <div class="mem" style="background-color:#3BB7E5"></div>
      cvt
      <div class="mem" style="background-color:#5270FC"></div>
      <div class="mem" style="background-color: white"></div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile rowspan="3" colspan="3" style="background-color: #D9D9D9" >9
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="2" style="background-color: #D9D9D9">
    10
  </mat-grid-tile>

</mat-grid-list>


</div>
