

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.profile-avatar{
  position: absolute;
  top: 0;margin-top: 40px;
  width:100px;height:100px;
  background-color: antiquewhite;
  border-radius:50%


}
.user-details{
  width: 7rem;
  height: 1rem;
  color:white;
}
#username{
width:140px;
height:100px;
background-color:white;
color:#3BB7E5;
margin-left: 23px;
border: 1px solid rgb(0 0 0 / 0.1);

}
.admin-sector{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid, transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#comments{
  background-color:#3BB7E5;
  color:#fff;
}
#uploads{
  background-color:#5270FC;
  color:#fff;
}
#likes{
  background-color:#ffffff;
  color:#5270FC;
  border: 1px solid rgb(0 0 0 / 0.1);
  margin-left: -35px;
  width:140px;
  height:100px;
}
#users{
 width:330px; height:93px; background-color:#D9D9D9; margin-top:12px;
 display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid, transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#users i{
  color:#5270FC;
  font-size: 43px;
  margin-left: 5px;

}
.user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#members{
  width:330px; height:60px; background-color:#D9D9D9;
  display: flex;

  align-items: center;
  border: 1px solid, transparent;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.mem{
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;


}
