<div class="container">
  <div class="">
    <div class="card-fluid" style="max-width: fit-content; margin-left: 200px">
      <div class="row">
        <div class="">
          <p class="mt-4">June 29,2022/#Fullstack</p>
          <br />
          <h2 class="text-center" style="">
            How to get inspired when your coding hits a dead end!
          </h2>
        </div>
      </div>
    </div>
  </div>
  <br />

  <div class="col-md-4" style="margin-left: 200px">
    <img
      src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg"
      alt="profile-pic"
      class="img rounded-circle"
      style="width: 100px"
    />
    Jane doe
  </div>

  <div>
    <div class="card single-post" style="width:80%;">
      <img
        src="https://thumbs.dreamstime.com/b/inspirational-quotes-do-what-right-not-easy-motivational-169893299.jpg"
        class="card-img-top"
        alt="Sunset Over the Sea"
        style =""
      />
      <div class="card-body">
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Nunc malesuada aliquet nisi a congue. In tellus
          lorem, porta hendrerit lectus at, interdum rutrum neque. Quisque non
          justo vitae est sagittis lacinia sed sed ligula. Nam a tellus elit.
          Integer ac dictum risus, eget pharetra sem. Class aptent taciti
        </p>
      </div>
      <div class="small d-flex justify-content-center mx-4">
        <a href="" class="d-flex align-items-center me-3">
          <i class="far fa-comment-dots me-2"></i>
          <p class="mb-0">Comment</p>
        </a>
        <a href="" class="d-flex align-items-center me-3">
          <i class="fas fa-share me-2"></i>
          <p class="mb-0">Share</p>
        </a>
        <a href="" class="d-flex align-items-center me-3">
          <i class="far fa-flag me-2"></i>
          <p class="mb-0">Flag</p>
        </a>
        <a href="" class="d-flex align-items-center me-3">
          <i class="fa-regular fa-bookmark me-2"></i>
          <p class="mb-0">Save</p>
        </a>
      </div>

      <form class="p-4">
        <div class="form-row">
          <div class="col-md-12 mx-4">
            <input
              type="text"
              class="form-control"
              placeholder="Log in or sign up to comment"
            />
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
