<!-- <div class="container">
  <div class="row">
    <div class="col-md-4"> -->
<div class="card staff-profile mb-4" style="background-color: #5270fc">
  <div class="card-body text-center text-white">
    <img src="assets/images/profile.svg" alt="avatar" class="rounded-circle img-fluid" style="width: 150px" />
    <!-- <img src="{{user.avatar}}" alt="avatar" onerror="this.src='assets/images/profile.svg';"> -->
    <hr>
    <p class="">Joe</p>
    <!-- <h6 class="text-center">{{user.username}}</h6> -->
    <hr>
    <p class="mb-4">Joe@user.com</p>
    <!-- <p class="text-center mb-4">{{user.email}}</p> -->
    <hr>
    <h5 class="text-header">Bio</h5>
    <p class="mb-4 text-start">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas error dolor praesentium
      consectetur velit fuga porro soluta iste quisquam iusto commodi, nostrum officiis necessitatibus ullam
      culpa.</p>
    <!-- <p class="mb-4">{{user.bio}}</p> -->
    <hr>
    <p class="mb-4">+254 712 345 678</p>
    <!-- <p class="mb-4">{{user.contact}}</p> -->
    <hr>

    <div class="d-flex justify-content-center mb-2"></div>
    <br>
    <br>
    <div class="d-flex justify-content-center mb-2">
      <a routerLink="/profile/edit" class="btn btn-light btn-lg"> Edit profile</a>
    </div>
  </div>
</div>
<!-- </div>
  </div>
</div> -->
