
<div class="container">


  <div class="profile-container">
    <div class="profile">

      <div class="avatar"><img src="assets/images/default-avatar.png" alt="avatar" style="width:100px;"/></div>
      <div class="details">Name:</div>
      <div class="details">Contact:</div>
      <div class="details">Bio</div>

    </div>

  </div>


  <div class="form-container">
    <div class="form">
      <div><p>Update Profile Form</p></div>

      <label for="name">Name</label><br>
      <input type="text" /><br>
      <label for="name">Contact Info</label><br>
      <input type="input" /><br>
      <label for="name">Bio</label><br>
      <input type="text" /><br>
      <label for="name">Image</label><br>
      <input type="image" name="submitbutton"/>
    </div>
  </div>


</div>
