
<!-- <div class="container">
  <div class="row profile-container">
    <div class="col-md-2"></div>

      <div class="col-md-4">
        <div class="profile">
          <div class="avatar"></div>
          <p>Name</p>
          <p>Contact</p>
          <p>Bio</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form">
          <label for="name">Name</label>
          <input type="text" />
        </div>
      </div>

    <div class="col-md-2"></div>
  </div>
</div> -->

<div class="container">
  <div class="profile-container">
    <div class="profile">

      <div class="avatar"><img src="assets/images/default-avatar.png" alt="avatar" style="width:100px;"/></div>
      <div class="details">Name:</div>
      <div class="details">Contact:</div>
      <div class="details">Bio</div>

    </div>

  </div>


  <div class="form-container">
    <div class="form">
      <div><p>Update Profile Form</p></div>

      <label for="name">Name</label><br>
      <input type="text" /><br>
      <label for="name">Contact Info</label><br>
      <input type="input" /><br>
      <label for="name">Bio</label><br>
      <input type="text" /><br>
      <label for="name">Image</label><br>
      <input type="text" />
    </div>
  </div>


</div>
