.avatar{
  background-color: #D9D9D9;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}
.profile-container{
  border: 1px solid black;
  width: 40%;
  height: 60vh;
  padding: 10px;
  display: flex;
  justify-content:center;
}
.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.details{
  background-color: #5270FC;
  color: white;
  padding: 2px 5px;
  margin: 4px 0;
  width: 15rem;

}
.container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-container{
  border: 1px solid black;
  width: 40%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
input{
  width: 20rem;
  background-color: #D9D9D9;
  border: none;
  height: 35px;
}
.form-container{
  background-color: #5270FC;
  color: white;
}
